#background {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw; 
}

#titulo-login {
  font-weight: bolder;
  font-family: "Helvetica";
  font-size: xx-large;  
}