#bg {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#titulo-login {
  background-color: whitesmoke;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bolder;
  font-family: "Helvetica";
}