#bg {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center; 
  height: 100vh;
  width: 100vw;
}

.texto{
  font-weight: bolder;
  font-family: "Helvetica";
  font-size: xx-large;  
}
.numeros{
  font-weight: bold;
  font-family: 'Gill Sans';
  font-size: xx-large; 
}

#bg_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
