/* Style.css */
body {
  margin: 0;              /* remove margens padrão */
  padding: 0;             /* remove espaçamento padrão */
  background-color: #f5f5f5; /* cor de fundo desejada */
}

#bg {
  background-color: whitesmoke;
}

.texto {
  font-weight: bolder !important;
  font-family: "Helvetica" !important;
  font-size: xx-large !important;
}

.numeros {
  font-weight: bold !important;
  font-family: 'Gill Sans' !important;
  font-size: xx-large !important;
}

.titulo-login {
  font-weight: bolder;
  font-family: "Helvetica";
  font-size: xx-large;
}

#bg_login {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#bg_dashboard {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}